{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" href="/static/images/restaurant-logo-2.png">
    <title>JaneTony Restaurants</title>
</head>
<body>
    <!-- <header>
        <div class="parts">
            <a href="#">Home</a>
            <a href="#">Menus</a>
            <a href="#">Order</a>
        </div>
        <img src="/static/images/restaurant-logo-2.png" alt="">
        <div class="parts">
            <a href="#">About</a>
            <a href="#">Reserve</a>
            <a href="#">More</a>
        </div>
    </header> -->

    <div class="start">
        <h1>Vertical Limit Academy</h1>
        <h3>QUIZ TEST</h3>
        <button>Start</button>
    </div>
    
    <div class="end">
        <h4>Incorrect: <span></span></h4>
        <h3>Correct: <span></span></h3>
        <h2>Total Questions: <span></span></h2>
        <h1>Score: <span></span> / <span></span></h1>

        <button>Restart Test</button>
        <button>End Test</button>
    </div>

    <div class="container">
        <div class="school">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="orange"><path d="M840-280v-276L480-360 40-600l440-240 440 240v320h-80ZM480-120 200-272v-200l280 152 280-152v200L480-120Z"/></svg>
            <p>Vertical Limit Academy</p>
        </div>
        <div class="operation">
            <div class="subject">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="40px" fill="rgb(36, 36, 247)"><path d="M280-120v-80h160v-124q-49-11-87.5-41.5T296-442q-75-9-125.5-65.5T120-640v-40q0-33 23.5-56.5T200-760h80v-80h400v80h80q33 0 56.5 23.5T840-680v40q0 76-50.5 132.5T664-442q-18 46-56.5 76.5T520-324v124h160v80H280Zm0-408v-152h-80v40q0 38 22 68.5t58 43.5Zm400 0q36-13 58-43.5t22-68.5v-40h-80v152Z"/></svg>
                <p></p>
            </div>
            <div class="guide">
                <span>Question </span><span></span><span> of </span><span></span>
            </div>
            <div class="question">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M440-360h80l6-50q8-3 14.5-7t11.5-9l46 20 40-68-40-30q2-8 2-16t-2-16l40-30-40-68-46 20q-5-5-11.5-9t-14.5-7l-6-50h-80l-6 50q-8 3-14.5 7t-11.5 9l-46-20-40 68 40 30q-2 8-2 16t2 16l-40 30 40 68 46-20q5 5 11.5 9t14.5 7l6 50Zm40-100q-25 0-42.5-17.5T420-520q0-25 17.5-42.5T480-580q25 0 42.5 17.5T540-520q0 25-17.5 42.5T480-460ZM240-80v-172q-57-52-88.5-121.5T120-520q0-150 105-255t255-105q125 0 221.5 73.5T827-615l52 205q5 19-7 34.5T840-360h-80v120q0 33-23.5 56.5T680-160h-80v80H240Z"/></svg>
                <p></p>
            </div>
            <div class="answers">
                <div class="options">
                    
                </div>
            </div>
            <!-- <div class="controls">
                <button>Prev &#128520;</button>
                <button>Next &#128512;</button>
            </div> -->
        </div>
    </div>

    <footer>
        <section>

        </section>
    </footer>
</body>
<script src="/static/app.js"></script>
</html>